body,html{
	padding:0px;
	margin:0px;
	height: 100%;
	font-family: Comic Sans MS;
}
body {
	background-image: url("../img/Fondo.png");
}
.izq{
	background-color:none;

}
.centro{
	background-color:none;
}

.der{
	background-color:none;
	display:block !important;
}

.izq,.centro,.der{
	display:inline-block;
	width:33.33%;
	height:100%;
	float:left;
}

#MoonZone{
    background-image: url(../img/Luna.png);
    background-position: 50% 50%;
    background-size: 76% 100%;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0px;
    padding-bottom: 0;
    height: 13%;
    width: 100%;
    z-index: 1;
}

#nave{
text-align:center;
position:fixed;
top:10%;
width:100%;
height:20%;
}

#imgNave{
	height:100%;
	display: block;
	margin: auto;
}

#imgCohete{
	height: 100%;
	display: none;
	margin: auto;
}

.controles{ 
	/*controles*/
	width: auto; height: auto; 
	max-width: 90px;
	margin: 10px;
	width: 100%;
	border-style: outset;
	font-size: 117%;
	padding: 5px;
	margin-bottom: 15px;
	border-radius: 20px;
}

#cpanel{}

#fuel{
    width: auto;
    height: 300px;
    max-width: 90px;
    margin: 10px;
    width: 100%;
    border-style: outset;
    font-size: 150%;
    padding: 5px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    border-radius: 20px;
}
#gastofuel{
    max-height: 98%;
    min-height: 0%;
    height: 100%;
    max-width: 50px;
    background-color: rgb(171, 179, 195);
    width: 100%;
    border-style: outset;
    font-size: 150%;
    margin-left: 15px;
    position: absolute;
    bottom: 0px;
    border-radius: 20px;
}

#BotonPlay:hover {
	background-size: 90%;
 	-webkit-transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
	transform: rotate(-25deg);
}
#BotonPlay:active {
	background-size: 90%;
	-webkit-transform: rotate(0.5deg);
	-moz-transform: rotate(0.5deg);
	transform: rotate(0.5deg);
}
#BotonPlay{
	display: inline-block;
	position: fixed;
	right: 0;
	top: 100px;
	margin: 5px;
	margin-top: 5%;
	text-align: center;
	font-size: 0%;
	width: 70px;
	height: 70px;
	background-image: url("../img/Play.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 50%;
}

#BotonPause:hover {
	background-size: 90%;
 	-webkit-transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	transform: rotate(25deg);
}
#BotonPause:active {
	background-size: 90%;
	-webkit-transform: rotate(0.5deg);
	-moz-transform: rotate(0.5deg);
	transform: rotate(0.5deg);
}
#BotonPause{
	display: none;
	position: fixed;
	right: 0;
	top: 100px;
	margin: 5px;
	margin-top: 5%;
	text-align: center;
	font-size: 0%;
	width: 70px;
	height: 70px;
	background-image: url("../img/Pause.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 50%;
}

#BotonReiniciar{
	display: none;
}
#BotonAjustes{
	display: none;
}

#BotonMenu:hover {
	background-size: 90%;
 	-webkit-transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
	transform: rotate(-25deg);
}
#BotonMenu:active {
	background-size: 90%;
	-webkit-transform: rotate(0.5deg);
	-moz-transform: rotate(0.5deg);
	transform: rotate(0.5deg);
}
#BotonMenu{
	display: inline-block;
	position: fixed;
	float: right;
	margin: 5px;
	margin-top: 5%;
	text-align: center;
	font-size: 0%;
	right: 0;
	width: 70px;
	height: 70px;
	background-image: url("../img/Menu.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 50%;
}

#BotonSonido{
	display: none;
}
#BotonAyuda{
	display: none;
}
/*Botones de propulcion */
#BotonOn,#BotonOff{
position:fixed;
right: 0;
bottom: 100px;
max-width: 70px;
max-height: 150px;
height: 50%;
width: 100%;

}

#BotonOff{
	display: none;
}
#ajustes{
	display: none; /*inline-block*/
	position: absolute;
    height: 100%;
    width: 100%;
	z-index: 3;
	left: 0;
	border-radius: 20px;
	background-image: url("../img/Fondo-ajustes.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
#cerrar{
	top: 2px;
	left: 2px;
	width: 15%;
	max-width: 50px;
	position: absolute;
}
#Ayuda{
	display: none; /*inline-block*/
	position: fixed;
    height: 100%;
    width: 100%;
	z-index: 3;
	left: 0;
	top: 0;
	background-image: url("../img/Fondo-ajustes.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}

#loser{
	display: none; /*inline-block*/
	position: absolute;
    height: auto;
    width: 60%;
    left: 18%;
	z-index: 3;
	top: 100px;
	border-radius: 20px;
	background-image: url("../img/Fondo-ajustes.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-color: black;
	border:10px;
	border-style: solid;
	border-color:#85929e;
	text-align: center;
}
#loser-gif,#winner-gif{
	width: 30%;
	height: 30%;
	border-radius: 10px;
}
#VolverAjugar, #VolverAJugar{
	border-radius: 10px;
	background-color: #85929E;
}
#winner{
	display: none; /*inline-block*/
	position: absolute;
    height: auto;
    width: 60%;
    left: 18%;
	z-index: 3;
	top: 100px;
	border-radius: 20px;
	background-image: url("../img/Fondo-ajustes.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border:10px;
	border-style: solid;
	border-color:#85929e;
	text-align: center;
}
#SmartphoneMenu{
	display: none;/*block !important*/
	border-radius: 20px;
	background-image: url("../img/Fondo-ajustes.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border:5px;
	border-style: solid;
	border-color:#85929e;
    width: 70%;
    height: auto;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 4;
    padding-top: 50px;
}


#S-Replay:hover {
	background-color: rgb(171, 179, 195); 
}
#S-Replay:active {
	border-style: inset;
}
#S-Replay{
	width: 92%;
	height: 80px;
	background-image: url("../img/Replay.png");
	background-repeat: no-repeat;
	background-size: 70px;
	background-position: 100% 0%;
	background-color: rgba(240, 243, 244, 0.7); 
	border-style: outset;
	border-radius: 10px;
	border-color: silver;
	display: block !important;
	color: black;
	margin: 3%;
	margin-bottom: 2px;
	text-align: left; 
	font-size: 250%;
}

#S-Help:hover {
	background-color: rgb(171, 179, 195); 
}
#S-Help:active {
	border-style: inset;
}
#S-Help{
	width: 92%;
	height: 80px;
	background-image: url("../img/ayuda.png");
	background-repeat: no-repeat;
	background-size: 70px;
	background-position: 100% 0%;
	background-color: rgba(240, 243, 244, 0.7); 
	border-style: outset;
	border-radius: 10px;
	border-color: silver;
	display: block !important;
	color: black;
	margin: 3%;
	margin-bottom: 2px;
	text-align: left; 
	font-size: 250%;
}

#S-Setting:hover {
	background-color: rgb(171, 179, 195); 
}
#S-Setting:active {
	border-style: inset;
}
#S-Setting{
	width: 92%;
	height: 80px;
	background-image: url("../img/Ajustes.png");
	background-repeat: no-repeat;
	background-size: 70px;
	background-position: 100% 0%;
	background-color: rgba(240, 243, 244, 0.7); 
	border-style: outset;
	border-radius: 10px;
	border-color: silver;
	display: block !important;
	color: black;
	margin: 3%;
	margin-bottom: 2px;
	text-align: left; 
	font-size: 250%;
}
#S-Sound:hover {
	background-color: rgb(171, 179, 195); 
}
#S-Sound:active {
	border-style: inset;
}
#S-Sound{
	width: 92%;
	height: 80px;
	background-image: url("../img/Sonido.png");
	background-repeat: no-repeat;
	background-size: 70px;
	background-position: 100% 45%;
	background-color: rgba(240, 243, 244, 0.7); 
	border-style: outset;
	border-radius: 10px;
	border-color: silver;
	display: block;
	color: black;
	margin: 3%;
	margin-bottom: 2px;
	text-align: left; 
	font-size: 250%;
}
#NS-Sound:hover {
	background-color: rgb(171, 179, 195); 
}
#MS-Sound:active {
	border-style: inset;
}
#NS-Sound{
	width: 92%;
	height: 80px;
	background-image: url("../img/Nosonido.png");
	background-repeat: no-repeat;
	background-size: 70px;
	background-position: 100% 45%;
	background-color: rgba(240, 243, 244, 0.7); 
	border-style: outset;
	border-radius: 10px;
	border-color: silver;
	display: none;
	color: black;
	margin: 3%;
	margin-bottom: 2px;
	text-align: left; 
	font-size: 250%;
}
#Abutton{
	position: relative;
	border-radius: 10px;
	background-color: rgb(171, 179, 195); 
}

